body {
    margin: 0;
    padding: 0;
    background-image: url(../pic/bg.png);
    background-size: inherit;
    background-position: center;
}

.grid-contrainer {
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-rows: auto auto auto;
     grid-gap:1.250em;
}

.grid-logo {
    grid-area:  1/2/span 1/span 1;
    text-align: center;
    
}

.grid-input {
    grid-area:  2/2/span 1/span 1; 
    text-align: center;
    margin-top : 30px;
}


.grid-login {
    grid-area:  3/2/span 1/span 1;  
    text-align: center;
    margin-top : 40px;
}



.button {
    background-color: white; /* Green */
    border: none;
    color: #663398;
    /* padding: 2% 15% 2% 15%; */
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 1.475em;
    border-radius: 3.125em;
    /* width: 30%; */
    -webkit-box-shadow: 0 10px 40px -2px black;
	   -moz-box-shadow: 0 10px 40px -2px black;
	        box-shadow: 0 10px 40px -2px black;
}
#button-back{
    margin-left: -2%;
    padding: 2.5% 15% 2.5% 15%;
}

#button-login{
    margin-left: 2.5%;
    padding: 2.5% 15% 2.5% 15%;
}

#logo{
    width: 450px;

}

input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/* #button{
    margin-bottom:;
} */


@media only screen and (max-width: 768px){
    .grid-contrainer {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
         grid-gap:1.250em;
    }
    
    .grid-logo {
        grid-area:  1/1/span 1/span 2;
        text-align: center;
    
    }

    .grid-input {
        grid-area:  2/1/span 1/span 2; 
        text-align: center;
        margin-top : 30px;
    }
    
    
    .grid-login {
        grid-area:  3/1/span 1/span 2;  
        text-align: center;
        margin-top : 40px;
    }
    .button{
        font-size: 1.5em;
    }


}

@media only screen and (max-width: 500px){
    .grid-contrainer {
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto auto auto auto;
         grid-gap:1.250em;
    }
    
    .grid-logo {
        grid-area:  1/1/span 1/span;
        text-align: center;
    
    }

    .grid-input {
        grid-area:  2/1/span 1/span; 
        text-align: center;
        margin-top : 30px;
    }
    
    
    .grid-login {
        grid-area:  3/1/span 1/span;  
        text-align: center;
        margin-top : 40px;
    }

    #button-back{
        margin-left: -2%;
        padding: 2.5% 15% 2.5% 15%;
    }
    
    #button-login{
        margin-left: 2.5%;
        padding: 2.5% 15% 2.5% 15%;
    }
    
    .button{
        font-size: 1em;
    }
    
    #logo{
        width: 400px;

    }

}
